<h1 id="editWizardForm">Edit Wizard Form</h1>
<%= render "/wizards/form" %>
<p id="deleteYourWizard">To delete your wizard, click here <%= link_to "delete", @wizard, method: :delete, data:{confirm: "You sure?"} %></p>
