<div class="wizardForm">
<h1 id="editWizardForm">Edit Wizard Form</h1>
<%= render "/wizards/form" %>
<div id="deleteYourWizard">To delete your wizard, click here <%= link_to "delete", @wizard, method: :delete, data:{confirm: "You sure?"} %></div>
</div>
