/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
#header {
  color: #EFDB8A;
  text-align: center;
  font-family: "Impact";
  background-image: url("wizardname.png");
  width: 10em;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 10px;
}
#description {
  color: red;
  width: 15em;
  margin: auto;
  background-image: url("descriptionbackround.png");
  text-align: center;
}
#show{
  border: 5px solid grey;
  background: black;
  border-radius: 10px;
  height: 20em;
  margin: auto;
  margin-bottom: 20px;
  width: 10em;
  border-radius: 100px;
  padding: 10px;
}

#show #header{
  color: pink;
  font-size: 20px;
}
#show #description{
  color: blue;
  text-align: center;
  margin-top: 50px;
}
body{
  background-image: url("newbackround.jpg");
  background-position: center;
  background-size: contain;
}
#wizindex{
  background: #8832B6;
  text-align: center;
  background-position: center;
  margin-left: 3em;
  margin-right: 3em;
  border-radius: 5em;
}
.indexclass{
  text-align: center;
}
#wizindex #wizlist{
  margin: auto;
  text-align: center;
}
#wizardElement{
border: 1.5px solid black;
padding: 10px;
margin-top: 10px;
background: linear-gradient(180deg, white, green,yellow,purple, black 10%);
}
#form{
  background-image: url("73e71fd636407bd0e659f0f664dd136a.png");
  background-repeat: no-repeat;
  text-align: center;
  background-position: top;
  background-size: auto;
  padding: 5em;
}
#form label{
  font-size: 20px;
  color: blue;
}
#form #label{
  position: relative;
  top: -50px;
  padding-bottom: 1em;
  color: #855831;
  font-family: "Impact";
  font-size: 50px;

}
#form input{
  margin-top: 5em;
  padding-top: 3em;
  width: 20em;
  margin: auto;
}
.radio #radio{
  color: pink;
}
#newWizard{
  text-align: center;
  color: #D16642;
  font-size: 2.5em;
  font-family: "Impact";
}
#newWizard label{
  text-align: left;
  color: #8832B7;
  font-size: 20px;
}
}
.text_area {
  background: green;
}
#reviewForm{
}
