/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .nav {
   background: image-url("newbackround.jpg") no-repeat;
   background-size: cover;
 }
 #error_explanation{
   background: white;
   color: red;
   border: 3px solid red;
   width: 800px;
   margin: auto;
 }
#header {
  color: #252525;
  font-size: 5em;
  text-align: center;
  font-family: "Impact";
  background: image-url("scrolltexture.jpg");
  background-position: center;
  background-size: cover;
  border: 3px solid #65110C;
  width: 10em;
  margin: auto;
  border-radius: 20px;

}
#description {
  color: #000000;
  font-size: 50px;
  width: 15em;
  margin: auto;
  background: white;
  text-align: center;
}
.signIn {
  padding-right: 50px;
}
#backButton{
  background: #8247B1;
  margin-top: 5px;
  margin-left: 5px;
}
ul {
  list-style-type: none;
}
#form {
  background: image-url("scrolltexture.jpg") no-repeat;
  text-align: center;
  width: 25em;
  margin: auto;
  margin-top: 2em;
  height: 1000px;
}

#form #label {
  padding-top: 10px;
  color: black;
  font-size: 50px;
  font-family: "Impact";
}


#form input {
  margin-top: 5em;
  padding-top: 3em;
  width: 20em;
  margin: auto;
}



#reviewForm {
  text-align: center;
  background: white;
}
#loginform {
  background: white;
  width: 75%;
  margin: auto;
}
#loginform body {
  background: white;
}
#edituser {
background: white;
}
#newuser {
  background: white;
  width: 75%;
  margin: auto;
}
#deviseConfirm {
  background: white;
}
#editPassword {
background: white;
}
#forgotPassword {
  background: white;
}
#footer {
  text-align: center;
  background: image-url("scrolltexture.jpg") no-repeat;
  border: 3px solid #5C1912;
  width: 500px;
  margin: auto;
  font-weight: bold;
  padding-top: 10px;
}
#showpic  {
  margin:auto;
  image-orientation: center;
  position: absolute;
    top: -1; bottom:0; left: 0; right:0;
    object-fit: contain;
}
#indexbig{
  font-size: 2em;
}


.starsContainer{
  margin: 0 auto;
}
.star {
  color: grey;
  float: left;
}
.clickedStar {
  color: #FFC82C !important;
}

.reviewTile {
margin-bottom: 10px;

}

#superUser {
  background: white;
}
